<div id="footer">
    <div class="logo">
        <a href="#home"><img src="https://firebasestorage.googleapis.com/v0/b/images-29f45.appspot.com/o/logos%2Fpng-transparent-cinema-film-moveis-logo-film-art-film-removebg-preview.png?alt=media&token=196f38b0-f9eb-4b57-a63e-7f9d01e45c48" alt="" style="width: 150px; height: 70px; margin-top: 5px; padding-top: 2px;"></a>
    </div>
    <div class="derechos">
        <p>Todos los derechos reservados <br>
        Univ. Alex Adrian Mendez Moreira <br>
        SIS-414 I/2024</p>
    </div>
    <div class="contact">
        <a href="#whatsApp">
            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #63E6BE;"></i>
        </a>
        <a href="#facebook">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #74C0FC;"></i>
        </a>
        <a href="#telegram">
            <i class="fa-brands fa-telegram fa-2xl" style="color: #74C0FC;"></i>
        </a>
    </div>
</div>
